* {
  margin: 0px;
  padding: 0px;
}
/* nav section styles  */
.navbar {
  background: url("./images/banner/banner1.png"),
    linear-gradient(rgba(108, 102, 102, 0.5), rgba(108, 102, 102, 0.6));
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  width: 1204px;
  height: 500px;
  padding: 30px;
}
.nav-title {
  color: #151414;
  text-align: right;
  font-size: 45px;
  font-weight: 700;
  margin-right: 150px;
  padding-top: 100px;
}
.nav-description {
  color: #444343;
  font-size: 16px;
  width: 375px;
  margin-left: 680px;
  font-weight: 400;
  padding: 15px 0px;
}
.btn {
  background-color: red;
  color: white;
  border: none;
  margin-right: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #f15b22;
  color: white;
  font-size: 15px;
}

/* banner styling  */

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.banner-img {
  width: 400px;
}
.banner-content{
  padding: 15px 0px;
}
.title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
.banner-description {
  color:  #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 416px;
  padding: 10px 0px;
}
ul {
  list-style: none;
}

ul li:before {
  content: "✓";
  color: green;
}

/* plan section styling  */

.plan-section{
  width: 80%;
  margin: auto;
  padding: 50px;
}
.plan-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box{
  padding: 30px;
}
.plan-title{
  text-align: center;
}
.appointment-container {
  border-radius: 8px;
  background: url("./images/watch.png"),linear-gradient(90deg, #F15B22 0%, rgba(234, 79, 18, 0) 100%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: 80%;
  margin: auto;
  height: 300px;
}

.appointment-title{
  padding-top: 28px;
    padding-left: 160px;
    color: white;
}
.appointment-btn{
  color: #F15B22;
  background-color: white;
  padding: 15px 25px;
  margin-left: 160px;
    margin-top: 15px;
}

/* footer styling starts from here  */

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #151414;
  color: white;
  padding: 30px;
  margin-top: 50px;
}
.footer-title{
  color: #F8F8F8;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-description{
  color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
width: 400px;
padding: 20px 0px
}
.icon{
  width: 25px;
  margin-right: 5px;
}
.footer-contact{
  padding: 12px 0px;
}
.footer-form ,.footer-btn, h3,input{
  display: block;
  margin: 10px 0px;
}
.footer-form input{
  background: #151414;
  border: 1px solid white;
  color: #FFF;
  font-size: 17px;
  padding: 5px;
  border-radius: 5px;
}
.footer-btn{
  color: #F15B22;
  background-color: white;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  margin-top: 3px;
}


               /* The END  */
